@use '@styles/utils' as *;

/* -------------------------------------------------------- */
/*               FORM OPTION (RADIO/CHECKBOX)               */
/* -------------------------------------------------------- */

.form-radio {
    margin-bottom: 16px;

    label {
        position: relative;
        display: block;
    }
    
    input {
        position: absolute;
        height: 100%;
        z-index: -1;

        &:not([disabled]) {
            &:hover {
                + span {
                    &::before {
                        border-color: var(--color-primary);
                    }
                }
            }
        }

        &:checked {
            + span {
                &::before {
                    border-color: var(--color-primary);
                }

                &::after {
                    opacity: 1;
                }
            }
        }

        + span {
            display: block;
            margin-left: 32px;
            cursor: pointer;

            &::before {
                position: absolute;
                left: 0;
                width: 24px;
                height: 24px;
                border: 2px solid var(--color-primary);
                border-radius: 50%;
                content: "";
            }

            &::after {
                position: absolute;
                top: 12px;
                left: 12px;
                transform: translate(-50%, -50%);
                width: 12px;
                height: 12px;
                background-color: var(--color-primary);
                border-radius: 50%;
                opacity: 0;
                content: "";
            }
        }
    }
}
