@use "@styles/utils" as *;

/* -------------------------------------------------------- */
/*                      FIELDSET STYLES                     */
/* -------------------------------------------------------- */


.form-select {
    /*
    .dropdown-active {
        .ts-control {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &::after {
                transform: rotate(180deg);
            }
        }
    }

    .ts-control {
        padding: 8px 50px 8px 17px;
        line-height: 32px;
        background: transparent;
        border: 1px solid var(--color-border);
        font-size: get-rem(16px);

        @include viewport(lg){
            padding: 8px 50px 8px 24px;
        }

        &::after {
            position: absolute;
            top: 11px;
            right: 8px;
            transform: rotate(0deg);
            width: 24px;
            height: 24px;
            background-image: url(/images/icons/chevron-down.svg);
            background-size: cover;
            transition: all $transition-time linear;
            pointer-events: none;
            content: "";

            @include viewport(lg){
                right: 16px;
            }
        }

        input {
            min-width: 100%;
            font-size: get-rem(16px);
            cursor: pointer;
        }

        .item {
            & + input {
                position: absolute;
                pointer-events: none;
                opacity: 0;
                z-index: -1;
            }
        }
    }
    .ts-dropdown {
        margin: 0;
        padding: 8px 0;
        border: 1px solid var(--color-border);
        border-top: 0;
        font-size: get-rem(16px);


        .option {
            padding: 10px 17px;

            @include viewport(lg){
                padding: 10px 24px;
            }

            &.active {
                color: inherit;
                background: inherit;
            }

            &.selected {
                background: var(--color-border);
            }
        }

        .no-results {
            padding: 10px 17px;

            @include viewport(lg){
                padding: 10px 24px;
            }
        }

    }

    .ts-dropdown-content {
        max-height: 235px;
    }

    select {
        opacity: 0;
    }
    */

    .ts-control {
        padding: 8px 50px 8px 17px;
        color: var(--color-body-font);
        font-size: inherit;
        line-height: 32px;
        background: transparent;
        border: 1px solid var(--color-border);
        border-radius: 0;

        @include viewport(lg){
            padding: 8px 50px 8px 24px;
        }
    }
}