@use '@styles/utils' as *;

/* -------------------------------------------------------- */
/*                   FORM TEXTAREA STYLES                   */
/* -------------------------------------------------------- */

.form-textarea {
    margin-bottom: 38px;

    label {
        position: relative;
        display: block;
    }
    
    textarea {
        padding: 1rem;
        border: 1px solid var(--color-border);

        + span {
            display: block;
            position: absolute;
            top: 17px;
            left: 0;
            font-size: get-rem(16px);
            font-weight: $font-weight-light;
            line-height: 1.15;
            pointer-events: none;
        }

        &:not([data-value=""]) {
            ~ span {
                top: -20px;
                left: 20px;
                font-size: get-rem(14px);
                font-weight: $font-weight-light;

                @include viewport(lg) {
                    top: -18px;
                    left: 27px;
                }
            }
        }
    }
}
