@use '@styles/utils' as *;

/* -------------------------------------------------------- */
/*                   FORM TEXTAREA STYLES                   */
/* -------------------------------------------------------- */

.form-textarea {
    margin-bottom: 16px;

    label {
        position: relative;
        display: block;
    }
    
    textarea {
        padding: 24px 16px 8px;
        border: 1px solid var(--color-border);
        border-radius: 8px;


        &:not([disabled]) {
            &:focus,
            &:not([data-value=""]) {
                ~ span {
                    top: 8px;
                    left: 16px;
                    transform: translateY(0);
                    font-size: get-rem(13px);
                }
            }

            &:focus {
                border-color: var(--color-primary);

                ~ span {
                    color: var(--color-primary);
                }
            }
        }

        + span {
            display: block;
            position: absolute;
            top: 29px;
            left: 16px;
            transform: translateY(-50%);
            font-weight: $font-weight-light;
            pointer-events: none;
            transition: all $transition-time-fast;
        }
    }
}
