---
import '@styles/elements/forms/_base.scss';

const {
    formAction = '',
    formMethod = 'POST',
    formQuery = '',
    formSubmitMessage = '',
    additionalClasses = ''
} = Astro.props;

const dynamicAttributes = {
    ...(formQuery ? { [`data-${formQuery}`]: '' } : {}),
    ...(formSubmitMessage && { 'data-validation-submit-message': formSubmitMessage }),
};
---

<form 
    class={`form ${additionalClasses}`.trim()}
    method={formMethod}
    action={formAction}
    data-js="form-validation"
    { ...dynamicAttributes }
>
    <slot />
</form>
