---
import '@styles/components/modules/_grid-example.scss';
---

<div class="grid-example">
    <div class="container">
        <div class="flex-layout">

            <div class="grid-example__headline col-12">
                <h1>
                    Astro Starter Kit
                </h1>
            </div>

            <div class="grid-example__title col-12">
                <h2>
                    Grid Example (Flexbox)
                </h2>
            </div>

            <div class="col-12 col-md-12">
                <p>
                    col-12 col-md-12
                </p>
            </div>

            <div class="col-12 col-md-12">
                <p>
                    col-12 col-md-12
                </p>
            </div>

            <div class="col-12 col-md-6 col-md-left-6">
                <p>
                    col-12 col-md-6 col-md-left-6
                </p>
            </div>

            <div class="col-6 col-md-4">
                <p>
                    col-6 col-md-4
                </p>
            </div>

            <div class="col-6 col-md-4">
                <p>
                    col-6 col-md-4
                </p>
            </div>

            <div class="col-6 col-md-4">
                <p>
                    col-6 col-md-4
                </p>
            </div>

        </div>

        <div class="grid-layout">

            <div class="grid-example__title grid-example__title g-col-12">
                <h2>
                    Grid Example (Grid)
                </h2>
            </div>

            
            <div class="g-col-12 g-col-md-12">
                <p>
                    g-col-12 g-col-md-12
                </p>
            </div>

            <div class="g-col-12 g-col-md-12">
                <p>
                    g-col-12 g-col-md-12
                </p>
            </div>

            <div class="g-col-12 g-col-md-6 g-col-md-start-7">
                <p>
                    g-col-12 g-col-md-6 g-col-md-start-7
                </p>
            </div>

            <div class="g-col-6 g-col-md-4">
                <p>
                    g-col-6 g-col-md-4
                </p>
            </div>

            <div class="g-col-6 g-col-md-4">
                <p>
                    g-col-6 g-col-md-4
                </p>
            </div>

            <div class="g-col-6 g-col-md-4">
                <p>
                    g-col-6 g-col-md-4
                </p>
            </div>

        </div>
    </div>
</div>
