---
import Modal from "@components/ui/Modal.astro";
import Button from "@components/ui/Button.astro";
---

<div class="modal-example">
    <div class="container flex-container">

        <div class="col-12 col-md-10 col-md-left-1">
            <Button 
                outlined
                openModalId="test"
            >
                Modal öffnen
            </Button>
        </div>

        <Modal modalId="test">

            <div slot="modal-header">
                <h2>
                    Header of the Modal
                </h2>
            </div>

            <h1>
                Modal Body
            </h1>

            <div slot="modal-footer">
                <button data-close-modal>close modal</button>
            </div>
            
        </Modal>

    </div>
</div>
