---
import '@styles/components/modules/_swiper-example.scss';

import Image from '@components/ui/Image.astro';
import Swiper from '@components/ui/Swiper.astro';
import imageExample from '@root/assets/placeholder-image.png';

const swiperSettings = {
    speed: 500,
    slidesPerView: 1,
    breakpoints: {
        768: {
            slidesPerView: 2,
            spaceBetween: 10
        }
    }
}

const swiperSettingsJSON = JSON.stringify(swiperSettings);
---

<div class="swiper-example">
    <div class="container">
        <div class="row">

            <div class="swiper-example__headline col-12 col-md-10 col-md-left-1">
                <h2>
                    Swiper Example
                </h2>
            </div>

            <div class="swiper-example__swiper col-12 col-md-10 col-md-left-1">

                <Swiper swiperSettings={swiperSettingsJSON}>

                    <div class="swiper-slide">
                        <figure>
                            <Image 
                                src={imageExample}
                                width="978"
                                height="489"
                                imageSizes={[
                                    { breakpointWidth: 1200, imageWidth: 1000 },
                                    { breakpointWidth: 768, imageWidth: 768 },
                                    { breakpointWidth: 320, imageWidth: 320 },
                                ]}
                                loading="eager"
                                alt="A description of my image."
                            />

                            <figcaption>
                                figcaption
                            </figcaption>
                        </figure>
                    </div>

                    <div class="swiper-slide">
                        <figure>
                            <Image 
                                src={imageExample}
                                width="978"
                                height="489"
                                imageSizes={[
                                    { breakpointWidth: 1200, imageWidth: 1000 },
                                    { breakpointWidth: 768, imageWidth: 768 },
                                    { breakpointWidth: 320, imageWidth: 320 },
                                ]}
                                loading="eager"
                                alt="A description of my image."
                            />

                            <figcaption>
                                figcaption
                            </figcaption>
                        </figure>
                    </div>

                    <div class="swiper-slide">
                        <figure>
                            <Image 
                                src={imageExample}
                                width="978"
                                height="489"
                                imageSizes={[
                                    { breakpointWidth: 1200, imageWidth: 1000 },
                                    { breakpointWidth: 768, imageWidth: 768 },
                                    { breakpointWidth: 320, imageWidth: 320 },
                                ]}
                                loading="eager"
                                alt="A description of my image."
                            />

                            <figcaption>
                                figcaption
                            </figcaption>
                        </figure>
                    </div>

                </Swiper>

            </div>

        </div>
    </div>
</div>
