@use '@styles/utils/_config' as *;

@mixin focus-visible-styles(
    $outline-color: var(--color-focus),
    $outline-width: 3px,
    $outline-offset: 4px,
    $shadow-color: var(--color-focus-rgb)
) {

    outline: $outline-width solid $outline-color;
    outline-offset: $outline-offset;

    @if $shadow-color != null {
        box-shadow: 0 0 0 8px rgba($shadow-color, 0.6);
    }
}