---
import '@styles/components/layout/_footer.scss';
---

<footer class="footer">
    <div class="container">
        <div class="flex-layout">

            <div class="col-12">
                Footer
            </div>
            
        </div>
    </div>
</footer>
