---
import '@styles/components/layout/_header.scss';
---

<header class="header">
    <div class="container">
        <div class="flex-layout">
            
            <div class="col-12">
                Header
            </div>
            
        </div>
    </div>
</header>
