---
import '@styles/components/layout/_header.scss';

import ThemeToggle from '@components/ui/ThemeToggle.astro';
---

<header class="header">
    <div class="container">
        <div class="flex-layout">
            
            <div class="header__wrapper col-12">
                <span>
                    Header
                </span>

                <ThemeToggle additionalClasses="header__theme-toggle" />
            </div>
            
        </div>
    </div>
</header>
