@use '@styles/utils' as *;

/* -------------------------------------------------------- */
/*                       BUTTON STYLES                      */
/* -------------------------------------------------------- */

button, .button {
    display: inline-block;
    padding: 0 32px;
    margin: 0;
    line-height: 54px;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    transition: all $transition-time ease;
    border-radius: 50px;
    font-weight: $font-weight-medium;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

    /* -------------------------------------------------------- */
    /*                      MODIFIER STYLES                     */
    /* -------------------------------------------------------- */
    
    &--primary {
        color: var(--color-body-background);
        border-color: var(--color-primary);
        background-color: var(--color-primary);

        &:not([disabled]) {
            &:hover {
                color: var(--color-body-font);
                background-color: transparent;
            }
        }
    }

    &--outlined {
        color: var(--color-primary);
        border-color: var(--color-primary);
        background-color: transparent;

        &:not([disabled]) {
            &:hover {
                color: var(--color-body-background);
                border-color: var(--color-primary);
                background-color: var(--color-primary);
            }
        }
    }

    /* -------------------------------------------------------- */
    /*                       STATE STYLES                       */
    /* -------------------------------------------------------- */

    &[disabled] {
        color: var(--color-white);
        border-color: var(--color-black);
        background-color: var(--color-black);
        opacity: 0.5;
        pointer-events: none;
    }
}
