@use '@styles/utils' as *;

/* -------------------------------------------------------- */
/*                       BUTTON STYLES                      */
/* -------------------------------------------------------- */

button, .button {
    display: inline-block;
    padding: 0 32px;
    min-width: 240px;
    height: 56px;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    transition: all $transition-time ease;
    border-radius: 8px;
    font-weight: $font-weight-medium;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

    /* -------------------------------------------------------- */
    /*                      MODIFIER STYLES                     */
    /* -------------------------------------------------------- */
    
    &--primary {
        color: var(--color-body-background);
        border-color: var(--color-primary);
        background-color: var(--color-primary);

        &:not([disabled]) {
            &:hover {
                color: var(--color-body-background);
                border-color: var(--color-primary-hover);
                background-color: var(--color-primary-hover);
            }
        }
    }

    &--outlined {
        color: var(--color-primary);
        border-color: var(--color-primary);
        background-color: transparent;

        &:not([disabled]) {
            &:hover {
                color: var(--color-body-background);
                border-color: var(--color-primary);
                background-color: var(--color-primary);
            }
        }
    }

    /* -------------------------------------------------------- */
    /*                       CLOSE BUTTON                       */
    /* -------------------------------------------------------- */
    &--close {
        position: absolute;
        top: -1rem;
        right: -1rem;
        width: 50px;
        min-width: 0;
        height: 50px;
        padding: 0;
        border-radius: 0;
        
        &::before,
        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            display: block;
            width: 16px;
            height: 2px;
            background-color: var(--color-body-font);
            transition: inherit;
            content: "";
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:not([disabled]) {
            &:hover {
                &::before,
                &::after {
                    background-color: var(--color-primary);
                }
            }
        }
    }

    &--link {
        min-width: 0;
        height: auto;
        padding: 8px 0;
        border-radius: 0;

        &:not([disabled]) {
            &:hover {
                color: var(--color-primary);
            }
        }
    }

    /* -------------------------------------------------------- */
    /*                       STATE STYLES                       */
    /* -------------------------------------------------------- */

    &[disabled] {
        color: var(--color-white);
        border-color: var(--color-black);
        background-color: var(--color-black);
        opacity: 0.5;
        pointer-events: none;
    }
}
