@use '@styles/utils' as *;

/* -------------------------------------------------------- */
/*                        FORM STYLES                       */
/* -------------------------------------------------------- */
.form {
    margin: 0 -#{$grid-gap};
    @include flex();

    .form-element {
        position: relative;
        margin-bottom: 38px;

        label {
            display: block;
        }

        input, textarea {
            width: 100%;
        }

        &--input {
            input {
                padding: 12px;
                border-bottom: 1px solid var(--color-border);

                &:invalid {
                    border-color: var(--color-ui-red);

                    & ~ span {
                        color: var(--color-ui-red);
                    }

                    & ~ small {
                        display: block;
                        color: var(--color-ui-red);
                    }
                }

                &:not([value=""]) {
                    &:valid {
                        border-color: var(--color-ui-green);
                    }

                    & ~ span {
                        top: -16px;
                        left: 0;
                        font-size: get-rem(14px);
                        font-weight: $font-weight-light;
                    }
                }
            }

            span {
                display: block;
                position: absolute;
                top: 17px;
                left: 0;
                font-weight: $font-weight-light;
                font-size: get-rem(16px);
                line-height: 1.15;
                transition: all ease $transition-time;
                pointer-events: none;
            }
        }

        &--textarea {
            textarea {
                padding: 12px;
                border: 1px solid var(--color-border);

                &:invalid {
                    border-color: var(--color-ui-red);

                    & ~ span {
                        color: var(--color-ui-red);
                    }

                    & ~ small {
                        display: block;
                        color: var(--color-ui-red);
                    }
                }

                &:not([data-value=""]) {
                    &:valid {
                        border-color: var(--color-ui-green);
                    }

                    & ~ span {
                        top: -20px;
                        left: 20px;
                        font-size: get-rem(14px);
                        font-weight: $font-weight-light;
    
                        @include viewport(lw) {
                            top: -18px;
                            left: 27px;
                        }
                    }
                }
            }
        }

        &--option {
            input {
                position: absolute;
                opacity: 0;

                &:invalid {
                    & + span::before {
                        border-color: 1px solid var(--color-ui-red);
                    }
    
                    + span {
                        color: var(--color-ui-red);
                    }
    
                    & ~ small {
                        display: block;
                    }
                }

                &[data-value] {
                    &:valid {
                        border-color: var(--color-ui-green);
    
                        & + span::before {
                            border-color: var(--color-ui-green);
                        }
    
                        &:checked {
                            & + span::before {
                                border-color: var(--color-primary);
                            }
                        }
                    }
                }

                &:checked {
                    & + span {
                        &::before {
                            border-color: var(--color-primary);
                        }

                        &::after {
                            opacity: 1;
                        }
                    }
                }

                + span {
                    display: block;
                    margin-left: 25px;
                    min-height: 20px;
                    padding-top: 4px;
                    cursor: pointer;
                    user-select: none;
            
                    @include viewport(lw){
                        padding-top: 2px;
                    }
            
                    &::before {
                        display: block;
                        position: absolute;
                        top: 4px;
                        left: 0;
                        height: 18px;
                        width: 18px;
                        border: 1px solid var(--color-border);
                        //border-radius: 0;
                        cursor: pointer;
                        content: "";
                    }
            
                    &::after {
                        display: block;
                        position: absolute;
                        top: 4px;
                        left: 0;
                        width: 18px;
                        height: 18px;
                        //border-radius: 0;
                        background-color: var(--color-primary);
                        transition: all $transition-time ease;
                        opacity: 0;
                        cursor: pointer;
                        content: "";
                    }
                }
            }
    
            span {
                position: relative;
                padding-top: 0;
                padding-left: 20px;
    
                &::before {
                    position: absolute;
                    top: 4px;
                    left: 0;
                    display: block;
                    width: 15px;
                    height: 15px;
                    border: 1px solid var(--color-border);
                    border-radius: 0;
                    cursor: pointer;
                    content: "";
                }
            }
        }

        small {
            display: none;
            color: var(--color-ui-red);

            &::before {
                display: inline-block;
                transform: rotate(180deg);
                width: 20px;
                height: 20px;
                margin-right: 10px;
                font-size: 14px;
                line-height: 20px;
                font-weight: 900;
                text-align: center;
                color: var(--color-white);
                border-radius: 50%;
                background-color: var(--color-ui-red);
                content: "i";
            }
        }
    }
}
