@use '@styles/utils' as *;

.accordion-example {
    padding: 50px;
    
    &__offcanvas-triggers {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }

    &__modal-triggers {
        display: flex;
        gap: 20px;
    }
}
