@use '@styles/utils' as *;

.grid-example {
    padding: 50px 0;
    
    .grid-layout,
    .flex-layout {

        > div {
            p {
                margin-top: 8px;
                margin-bottom: 8px;
                border: 1px solid var(--color-border);
            }
        }

        .grid-example {
            &__title {
                margin-top: 32px;
            }
        }
    }

}
