@use '@styles/utils' as *;

.swiper-example {
    padding: 50px;

    .swiper {
        margin-bottom: 20px;
    }
    
    &__offcanvas-triggers {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }

    &__modal-triggers {
        display: flex;
        gap: 20px;
    }
}
