/* -------------------------------------------------------- */
/*                          LAYOUT                          */
/* -------------------------------------------------------- */

$breakpoints: (
    xs:         						0,
    sm:         						576px,
    md:         						768px,
    lg:         						992px,
    xl:         						1280px,
    xxl:        						1440px,
);

$use-fixed-container-max-width:			false;
$container-fixed-max-width:				1520px;

$container-max-widths: (
	sm:         						540px,
	md:         						720px,
	lg:         						960px,
	xl:         						1240px,
	xxl:        						1380px,
);

$enable-flex-layout:					true;
$enable-grid-layout:					true;

$grid-columns:  						12;

$col-padding:      						8px;
$container-padding:						16px;


/* -------------------------------------------------------- */
/*                        COLORSCHEME                       */
/* -------------------------------------------------------- */

$colors: (
	light: (

		white:              #FFFFFF,
		black:              #000000,

		border:             #8c8c8c,

		overlay:            rgba(140, 140, 140, 0.5),

		
		primary:            #69108F,
		primary-hover:      #7C26A1,

		ui-success:         #0C5F24,
		ui-warning:         #8F5D20,
		ui-error:           #A60629,
		ui-information:     #125588,

		body-font:          #1A1A18,
		body-background:    #F2F2F2,

		code-font:          #222222,
		code-background:    #F8F8F2 

	),
	dark: (

		white: 				#FFFFFF,
		black: 				#000000,

		border: 			#64645B,

		overlay:			rgba(100, 100, 91, 0.5),

		primary: 			#FF6D3A,
		primary-hover: 		#F25F33,

		ui-success:         #30B951,
		ui-warning:         #FFC107,
		ui-error:           #FA7B7B,
		ui-information:     #35B6FF,

		body-font: 			#EDEDED,
		body-background: 	#171715,

		code-font:			#F8F8F2,
		code-background:	#363737

	)
);


/* -------------------------------------------------------- */
/*                        TYPOGRAPHY                        */
/* -------------------------------------------------------- */

$font-size-mobile:			                16px;
$font-size-tablet:			                16px;
$font-size-desktop:			                16px;

$font-size-h1-mobile:			            32px;
$font-size-h2-mobile:			            26px;
$font-size-h3-mobile:			            24px;
$font-size-h4-mobile:			            20px;
$font-size-h5-mobile:			            16px;
$font-size-h6-mobile:			            14px;

$font-size-h1-tablet:			            42px;
$font-size-h2-tablet:			            30px;
$font-size-h3-tablet:			            24px;
$font-size-h4-tablet:			            20px;
$font-size-h5-tablet:			            18px;
$font-size-h6-tablet:			            16px;

$font-size-h1-desktop:		                58px;
$font-size-h2-desktop:		                36px;
$font-size-h3-desktop:		                30px;
$font-size-h4-desktop:		                24px;
$font-size-h5-desktop:		                20px;
$font-size-h6-desktop:		                18px;

$font-letter-spacing:                       normal;

$font-weight-thin:			                100;
$font-weight-extralight:			        200;
$font-weight-light:			                300;
$font-weight-normal:			            400;
$font-weight-medium:		                500;
$font-weight-semibold:		              	600;
$font-weight-bold:			                700;
$font-weight-extrabold:			            800;
$font-weight-black:			                900;

$font-family-body:		                    "Barlow", Arial, sans-serif;
$font-family-headline:		                "Poppins", Arial, sans-serif;
$font-family-monospace:		                Consolas, 'Lucida Console', Monaco, monospace;


/* -------------------------------------------------------- */
/*                       Z-INDEX LEVEL                      */
/* -------------------------------------------------------- */

$z-index-1:                                 100;
$z-index-2:                                 200;
$z-index-3:                                 300;
$z-index-4:                                 400;
$z-index-5:                                 500;
$z-index-6:                                 600;
$z-index-7:                                 700;
$z-index-8:                                 800;
$z-index-9:                                 900;


/* -------------------------------------------------------- */
/*                        ANIMATIONS                        */
/* -------------------------------------------------------- */

$transition-time:                           0.4s;
$transition-time-fast:                      0.2s;
