---
const { accordionSettings = '' } = Astro.props;
---
<div
    class="accordion-container"
    data-js="accordion-container"
    data-accordion-settings={accordionSettings}
    role="group"
>

    <slot />
    
</div>

<script>
    import {accordionGroup} from "@scripts/ui/accordion-container";

    accordionGroup.init();
</script>
