@use '@styles/utils' as *;

.accordion-container {

    .ac {
        margin: 0 0 1rem;
        color: var(--color-body-font);
        border: none;
        border-bottom: 1px solid var(--color-border);
        background-color: transparent;

        &:first-child {
            border-top: 1px solid var(--color-border);
        }

        .ac {
            &-trigger {
                height: auto;
                padding: 10px 30px 10px 10px;
                color: inherit;
                font-family: $font-family-body;
                font-size: inherit;
                line-height: 1.5;
                white-space: wrap;
                border-radius: 0;
            }

            &-panel {
                > div {
                    padding: 10px 30px 10px 10px;

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
