@use '@styles/utils' as *;

.accordion-container {

    .ac {
        margin: 0;
        color: var(--color-body-font);
        border: none;
        border-bottom: 1px solid var(--color-border);
        background-color: transparent;

        &:first-of-type {
            border-top: 1px solid var(--color-border);
        }

        .ac {
            &-trigger {
                padding: 0 32px 0 0;
                color: inherit;
                line-height: 1.5;
                white-space: wrap;
                border-radius: 0;
            }

            &-panel {
                > div {
                    padding-bottom: 16px;

                    p {
                        margin-bottom: 1rem;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }

                    .accordion-container {
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}
