@use '@styles/utils' as *;

/* -------------------------------------------------------- */
/*                    FORM GROUP PARTIAL                    */
/* -------------------------------------------------------- */

.form-group {
    padding: 0!important;
    @include flex();

    &.valid {
        input {
            &:checked {
                + span {
                    color: var(--color-ui-success);        
                }
            }
        }
    }

    &.invalid {
        span {
            color: var(--color-ui-error);

            &::before {
                border-color: var(--color-ui-error)
            }
        }

        > small {
            display: block;
            margin-left: 10px;
        }
    }

    &:first-child {
        margin-bottom: 50px;
    }
}
