@use '@styles/utils' as *;

/* -------------------------------------------------------- */
/*                    FORM GROUP PARTIAL                    */
/* -------------------------------------------------------- */

.form-group {
    margin-bottom: 32px;

    &.valid {
        input {
            &:checked {
                + span {
                    color: var(--color-ui-success);        
                }
            }
        }
    }

    &.invalid {
        span {
            color: var(--color-ui-error);

            &::before {
                border-color: var(--color-ui-error)
            }
        }

        > small {
            display: block;
        }
    }

    .form {
        &-radio,
        &-checkbox {
            margin: 16px 0 0;
        }
    }
}
