---
import '@styles/styles.scss';

import Header from '@components/layout/Header.astro';
import Footer from '@components/layout/Footer.astro';

const {
	pageTitle = ''
} = Astro.props
---

<!Doctype html>
<html lang="en">
    
    <head>

        <script>
            (function() {
                const savedTheme = localStorage.getItem("theme");
                const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
                const theme = savedTheme ? savedTheme.replace(/"/g, '') : (prefersDark ? "dark" : "light");
                document.documentElement.setAttribute("data-theme", theme);
            })();
        </script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="description" content="Kickstart your project with an ultra-fast, accessible, and SEO-optimized web template powered by Astro.">
        <meta name="keywords" content="Astro, Starter Kit, High Performance, Accessibility, Web Performance, SEO, Web Development">
        <meta name="author" content="Calvin Kamp">
        <meta name="generator" content={Astro.generator}>

        <meta property="og:title" content="Astro Starter Kit – High Performance & A11Y">
        <meta property="og:description" content="Kickstart your project with an ultra-fast, accessible, and SEO-optimized web template powered by Astro.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://astro-starter-kit.calvin-kamp.com/">
        <meta property="og:image" content="https://astro.build/social.jpg">
        <meta property="og:locale" content="en_GB">

        <meta name="twitter:title" content="Astro Starter Kit – High Performance & A11Y">
        <meta name="twitter:description" content="Kickstart your project with an ultra-fast, accessible, and SEO-optimized web template powered by Astro.">
        <meta name="twitter:image" content="https://astro.build/social.jpg">
        <meta name="twitter:card" content="summary_large_image">

        <link rel="canonical" href="https://astro-starter-kit.calvin-kamp.com/">

        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    
        <title>{pageTitle}</title>

    </head>
    
	<body>

        <Header />

		<main>
			<slot />
		</main>

        <Footer />
		
	</body>
</html>
