---
import '@styles/components/ui/_flying-focus.scss';
---

<div class="flying-focus" data-js="flying-focus"></div>

<script>
    import {flyingFocus} from '@scripts/ui/flying-focus';

    flyingFocus.init();
</script>
