---
const {
    href = '',
    linkTarget = '',
    additionalClasses = '',
    ariaLabel = '',
} = Astro.props;

const currentURL = Astro.url.pathname;
const isActive = href === currentURL;

const modifierClasses = isActive ? "link--active" : "";

let targetType = linkTarget || (href?.match(/^(http(s)?|ftp):\/\//) ? "_blank" : "_self");
let securityAttributes = targetType === "_blank" ? "noopener noreferrer" : "";
---

<a 
    href={href}
    class={`link ${modifierClasses} ${additionalClasses}`}
    target={targetType}
    { ...(securityAttributes ? { rel: securityAttributes } : {}) }
    { ...(ariaLabel && { "aria-label": ariaLabel }) }
>
    <slot />
</a>
