---
import Button from "@components/ui/Button.astro";
import '@styles/components/ui/_modal.scss';

const {
    modalName = '',
    additionalClasses = ''
} = Astro.props;
---

<div 
    class={`modal ${modalName} ${additionalClasses}`}
    data-js="modal"
    aria-label="Modal"
    role="dialog"
>

    <div class="modal__wrapper">
        <div class="modal__header">
            <slot name="modal-header"/>

            <Button
                close
                closeModal
                arialabel="close modal"
            />
        </div>
        
        <div class="modal__content">
            <slot/>
        </div>
    </div>

</div>


<script>
    import {modal} from "@scripts/ui/modal";
    modal.init();
</script>
