---
import Button from "@components/ui/Button.astro";
import '@styles/components/ui/_modal.scss';

const {
    modalId = '',
    ariaLabel = null,
    additionalClasses = ''
} = Astro.props;

const dynamicAriaAttributes = {
    ...(ariaLabel ? { 'aria-label': ariaLabel } : { 'aria-label': 'Modal' })
};
---

<div 
    class={`modal modal--id-${modalId} ${additionalClasses}`}
    role="dialog"
    data-js="modal"
    data-modal-id={modalId}
    { ...dynamicAriaAttributes }
>

    <div class="modal__wrapper" data-modal-wrapper>
        <div class="modal__header">
            <slot name="modal-header"/>

            <Button
                close
                closeModal
                arialabel="close modal"
            />
        </div>
        
        <div class="modal__content">
            <slot/>
        </div>
    </div>

</div>


<script>
    import {modal} from "@scripts/ui/modal";

    modal.init();
</script>
