---
import Button from "@components/ui/Button.astro";
import '@styles/components/ui/_offcanvas.scss';

const {
    offcanvasId = '',
    orientation = 'right',
    ariaLabel = null,
    additionalClasses = ''
} = Astro.props;

const dynamicAriaAttributes = {
    ...(ariaLabel ? { 'aria-label': ariaLabel } : { 'aria-label': 'Modal' })
};
---

<div
    class={`offcanvas offcanvas--${orientation} offcanvas--id-${offcanvasId} ${additionalClasses}`}
    data-js="offcanvas"
    data-offcanvas-id={offcanvasId}
    role="dialog"
    { ...dynamicAriaAttributes }
>
    <div class="offcanvas__wrapper">
        <div class="offcanvas__header">
            <slot name="offcanvas-header"/>

            <Button 
                additionalClasses="button--close"
                closeOffcanvas
                ariaLabel="Offcanvas schließen"
            />
        </div>

        <div class="offcanvas__content" data-offcanvas-body>
            <slot/>
        </div>
    </div>
</div>

<script>
    import { offcanvas } from "@scripts/ui/offcanvas";
    
    offcanvas.init();
</script>
