---
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
import 'swiper/css/scrollbar';
import '@styles/components/ui/_swiper.scss';

const {
    swiperSettings = ''
} = Astro.props;

let parsedSettings;
try {
    parsedSettings = JSON.parse(swiperSettings);
} catch {
    parsedSettings = {};
}

const ariaLive = parsedSettings.autoplay ? "polite" : "off";
---

<div 
    class="swiper"
    role="region"
    aria-roledescription="carousel"
    aria-live={ariaLive}
    data-js="swiper"
    data-swiper-settings={swiperSettings}
>
    <div class="swiper-wrapper">

        <slot />

    </div>

    <div class="swiper-scrollbar"></div>
    <button aria-label="to previous slide" class="swiper-button-prev"></button>
    <button aria-label="to next slide" class="swiper-button-next"></button>

    <div class="swiper-pagination"></div>
</div>

<script>
    import {swiper} from "@scripts/ui/swiper";

    swiper.init();
</script>
