---
import '@styles/components/ui/_theme-toggle.scss';

import Button from '@components/ui/Button.astro';

const {
    additionalClasses = ''
} = Astro.props;
---
<div
    class={`theme-toggle ${additionalClasses}`}
    data-js="theme-toggle"
>
    <Button
        link
        additionalClasses="theme-toggle__button"
        ariaLabel="Switch color theme"
        dataAttributes={{ 'data-theme-toggle-trigger' : true }}
    />
</div>


<script>
    import {themeToggle} from '@scripts/ui/theme-toggle';

    themeToggle.init();
</script>
